<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:hibernate.properties"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.postgreSQL.driverClass}"/>
        <property name="url" value="${jdbc.postgreSQL.url}"/>
        <property name="username" value="${jdbc.postgreSQL.username}"/>
        <property name="password" value="${jdbc.postgreSQL.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>ru/yalymar/ioc/storages/models/User.hbm.xml</value>
                <value>ru/yalymar/ioc/storages/models/Role.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.postgreSQL.dialect}</prop>
                <prop key="hbm2ddl.auto">${jdbc.postgreSQL.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${jdbc.postgreSQL.show_sql}</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven/>

    <bean id="hibernateStorage" class="ru.yalymar.ioc.storages.storages.HibernateStorage">
        <constructor-arg ref="hibernateTemplate"/>
    </bean>

    <bean id="storage" class="ru.yalymar.ioc.storages.storages.UserStorage">
        <constructor-arg name="storage" ref="hibernateStorage"/>
    </bean>


</beans>