<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- setting maximum upload size in KB -->
        <property name="maxUploadSize" value="200000" />
    </bean>

    <context:property-placeholder location="classpath:hibernate.properties"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.postgreSQL.driverClass}"/>
        <property name="url" value="${jdbc.postgreSQL.url}"/>
        <property name="username" value="${jdbc.postgreSQL.username}"/>
        <property name="password" value="${jdbc.postgreSQL.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>mapping/Ad.hbm.xml</value>
                <value>mapping/Body.hbm.xml</value>
                <value>mapping/Car.hbm.xml</value>
                <value>mapping/Color.hbm.xml</value>
                <value>mapping/Image.hbm.xml</value>
                <value>mapping/Manufactor.hbm.xml</value>
                <value>mapping/Model.hbm.xml</value>
                <value>mapping/Role.hbm.xml</value>
                <value>mapping/Transmission.hbm.xml</value>
                <value>mapping/User.hbm.xml</value>
                <value>mapping/Account.hbm.xml</value>
                <value>mapping/Balance.hbm.xml</value>
                <value>mapping/IncomeReport.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.postgreSQL.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${jdbc.postgreSQL.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${jdbc.postgreSQL.show_sql}</prop>
                <prop key="hibernate.hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</prop>
                <prop key="hibernate.hbm2ddl.import_files">initial_data.sql</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


</beans>
