<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Form Page</title>

</head>
<body>
<div class="container">

    <h2>Form</h2>
    <div>
        <form class="form-horizontal" th:action="@{/form}" method="post">
            <table>
                <tr>
                    <th>Code</th>
                    <th>Value</th>
                </tr>
                <tr th:each="field : ${fields}" id="">
                    <td th:text="${field}"></td>
                    <td>
                        <div>
                            <label>
                                <input type="text" id="${field}"/>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>



            <button type="submit" name="addRow">Send</button>
        </form>
    </div>
</div>

</body>
</html>
